<div id="receipt">
  <h1>Facture</h1>

  <div class="divider"></div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="clinicSelect">Clinique</label>
      </div>
      <select
        class="custom-select"
        id="clinicSelect"
        (change)="updateSelectedClinic($event.target.options.selectedIndex)"
      >
        <option *ngFor="let clinic of clinicPKs">{{ clinic }}</option>
      </select>
    </div>
  </div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="animalSelect">Animal</label>
      </div>
      <select class="custom-select" id="animalSelect" (change)="updateSelectedAnimal($event.target.options.selectedIndex)">
        <option *ngFor="let animal of animals">{{ animal.animalnb }}</option>
      </select>
    </div>
  </div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">NUMÉRO FACTURE</th>
      <th class="contentCell">DATE</th>
      <th class="contentCell">COÛT TOTAL</th>
      <th class="actionCell">STATUS</th>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels; let i = index">
        <td class="contentCell">{{ hotel.hotelnb }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeHotelName($event, i)">{{ hotel.name}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeHotelCity($event, i)">{{ hotel.city }}</td>
      </tr>
    </tbody>
  </table>
</div>
