<div id="receipt">
  <h1>Facture</h1>

  <div class="divider"></div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="clinicSelect">NoExamen</label>
      </div>
      <select
        class="custom-select"
        id="clinicSelect"
        (change)="updateSelectedExam($event.target.options.selectedIndex)"
      >
        <option *ngFor="let clinic of examensPKs">{{ clinic }}</option>
      </select>
      <button (click)="generateReceipt()">Génerer facture pour examen</button>
    </div>
    <p>Une facture ne peut être généré que suite à un examen, le coût d'une facture correspond à tout les traitements qui lui sont préscrit dans le plan de traitement attaché</p>
  </div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">NUMÉRO FACTURE</th>
      <th class="contentCell">DATE</th>
      <th class="contentCell">COÛT TOTAL</th>
      <th class="actionCell">STATUS</th>
    </thead>
    <tbody>
      <tr *ngFor="let receipt of receipts; let i = index">
        <td class="contentCell">{{ receipt.receiptnb }}</td>
        <td class="contentCell">{{ receipt.date }}</td>
        <td class="contentCell">{{ receipt.totalcost}} $</td>
        <td class="contentCell">{{ receipt.Status ? receipt.Status : 'Non payé'}}</td>
      </tr>
    </tbody>
  </table>
</div>
