<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP3</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/animal">Animal</a>
      <a class="nav-item nav-link active" routerLink="/traitement">Traitement</a>
      <a class="nav-item nav-link active" routerLink="/facture">Facture</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenue<br />à<br /><span class="veto1">VetoSansFrontieres </span>
  </p>
  <button type="button" class="btn" routerLink="/animal">Rechercher pour votre animal &#10140;</button>
</div>

<router-outlet></router-outlet>
