<div id="treatment">
  <h1>Traitements</h1>

  <div class="divider"></div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="clinicSelect">Clinique</label>
      </div>
      <select
        class="custom-select"
        id="clinicSelect"
        (change)="updateSelectedClinic($event.target.options.selectedIndex)"
      >
        <option *ngFor="let clinic of clinicPKs">{{ clinic }}</option>
      </select>
    </div>
  </div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="animalSelect">Animal</label>
      </div>
      <select class="custom-select" id="animalSelect" (change)="updateSelectedAnimal($event.target.options.selectedIndex)">
        <option *ngFor="let animal of animals">{{ animal.animalnb }}</option>
      </select>
    </div>
  </div>

  <table
    id="ht"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
    <thead class="header">
      <th class="contentCell">NUMÉRO DE TRAITEMENT</th>
      <th class="contentCell">DESCRIPTION</th>
      <th class="contentCell">COÛT</th>
    </thead>
    <tbody>
      <tr *ngFor="let traitement of treatments; let i = index">
        <td class="contentCell">{{ traitement.treatmentnb }}</td>
        <td class="contentCell">{{ traitement.description }}</td>
        <td class="contentCell">{{ traitement.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
